.add-remove-input-field-container { width: 100%; margin: 1rem 0 }
.box { 
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    border: 1px solid lightgray;
    padding: 1rem;
}
.box h3 { margin: 0 0 1rem 0 }
.box .form-input {
    margin: .25rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box input, .box label { margin: .25rem 0; width: 93% }
.box .btn-box { display: flex; justify-content: center }
.box .btn { margin: 0 .25rem; padding: .2rem }
.box svg { font-size: 1.6rem }